<div class="container">
	<h2>Customer Dashboard View 1</h2>

	<br />
	Search Customer:
	<br />
	<input type="text" ng-model="vm.name" />
	<button type="button" ng-click="vm.removeCustomer()">Remove</button>
	<br />
	<div class="container">
		<ul>
			<li ng-repeat="cust in vm.customers | filter:vm.name | orderBy: 'name'" class="people">{{cust.name + " - " + cust.city}}</li>
		</ul>
	</div>

	<br />

	<form>
		<fieldset>
			<legend>Add Customer</legend>
			Customer Name:<br />
			<input type="text" ng-model="vm.newCustomer.name" />
			<br />
			Customer City:<br />
			<input type="text" ng-model="vm.newCustomer.city" />
			<br />
			<br />
			<button ng-click="vm.addCustomer()">Add</button>
		</fieldset>
	</form>
	
	
</div>