ul {
	li.people {
		border: 1px solid blue;
		border-radius: 8px;
		background-color: lightgrey;
		float: left;
		padding: 0.5em;
		margin: 2px;
		width: 160px;
		height: 30px;
	}
}

form {
	width: 300px;
}